
{% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}





{% extends 'base.html.twig' %}
{% block title %}OFFTOUR{% endblock %}

{% block body %}

<link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <div class="example-wrapper">
        <h1 class="titre">OFFTOUR</h1>
<div class="image-container">

        <div class="main">



            <div id="app">





            </div>
        </div>

        <p class="intro">Bienvenue sur notre site dédié à la Nouvelle-Aquitaine, une région riche en découvertes et en émerveillements ! Que vous soyez amateur de nature, d'histoire, de culture ou de gastronomie, notre plateforme est là pour vous guider à travers les trésors cachés de cette région exceptionnelle.

            Plongez dans un univers où chaque lieu raconte une histoire unique. De la majestueuse Dune du Pilat aux vignobles renommés de Bordeaux, en passant par les charmants villages perchés du Périgord et les plages infinies de la côte atlantique, la Nouvelle-Aquitaine regorge de destinations captivantes.

            Sur notre site, vous trouverez une sélection minutieuse des meilleurs lieux à visiter, accompagnée des avis authentiques de nos visiteurs. Que vous souhaitiez explorer des châteaux médiévaux, vous perdre dans des jardins luxuriants, déguster des produits locaux ou vous émerveiller devant la beauté sauvage des réserves naturelles, notre plateforme vous aidera à planifier votre prochaine aventure.

            Nous croyons fermement que les expériences partagées par d'autres voyageurs sont une source précieuse d'inspiration. C'est pourquoi nous encourageons nos utilisateurs à laisser leurs avis, afin que vous puissiez bénéficier de leurs conseils et recommandations lors de votre propre exploration de la Nouvelle-Aquitaine.

            Que vous soyez un habitant curieux de découvrir de nouveaux endroits dans votre propre région ou un voyageur en quête d'aventures, notre site est conçu pour vous offrir une expérience enrichissante et inspirante. Préparez-vous à être transporté dans un monde de beauté, d'authenticité et de découvertes sans fin.

            Bienvenue dans l'univers d'OffTour, votre guide ultime pour explorer la Nouvelle-Aquitaine et créer des souvenirs inoubliables. Laissez-vous inspirer, partez à l'aventure et laissez-vous surprendre par les trésors cachés de cette région exceptionnelle. Bon voyage !

        </p>




        {% endblock %}



